### METHOD 3 : CAPTURING NAN VALUES WITH A NEW FEATURE

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("train.csv",usecols = ['Age',"Fare",'Survived'])
df.isnull().sum()

# print(df.shape)

Survived      0
Age         177
Fare          0
dtype: int64

In [17]:
# make an additional feature to indiacate the presense of NAN values and then replace the value
# with med (or) random sample

# Creating new feature
import numpy as np
df["Age_NAN"] = np.where(df["Age"].isnull(),1,0)

In [18]:
def impute_NAN(df,variable,median):
    df[variable] = df[variable].fillna(median) # fillna -> replace the NULL values with the specified value
    return df
    
df = impute_NAN(df,"Age",df["Age"].median())

In [19]:
df.head(50)

# df.isnull().sum()

Survived    0
Age         0
Fare        0
Age_NAN     0
dtype: int64

In [ ]:
# Disadvatage : Multiple new features will be created